{% include 'include_assets/styles.html' %}


<body>
    <div id="global-loader">
        <div class="whirly-loader"> </div>
    </div>

    <div class="main-wrapper">

    {% include 'include_assets/profile.html'%}


    <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li >
                            <a href="{{ url_for('index') }}"><img src="static/img/icons/dashboard.svg" alt="img"><span>
                                    Dashboard</span> </a>
                        </li>
                             <li class="active">
                            <a href="{{ url_for('violator_list') }}">
                                <img src="{{ url_for('static', filename='img/icons/users1.svg') }}" alt="img">
                                <span>Violator list</span>
                            </a>
                        </li>
                        <li >
                        <a href="{{ url_for('enforcer_data') }}">
                                <img src="static/img/icons/users1.svg" alt="img">
                                <span> Enforcers</span>
                            </a>
                        </li>
                        <li >
                        <a href="{{ url_for('settled_reports') }}">
                                <img src="static/img/icons/time.svg" alt="img">
                                <span> Settled Reports</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="page-wrapper">
            <div class="content">
                <div class="page-header">
                    <div class="page-title">
                        <h4> Violators Information </h4>
                    </div>
                </div>
                <form action="{{url_for('edit_violators_data')}}"  method="POST" > 
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                        <div  style="display:none" class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Violation</label>
                                    <input type="text" name="violation_id" value="{{violator_data.0}}">
                                </div>
                            </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Violation</label>
                                    <input type="text" name="violation" value="{{violator_data.1}}">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Plate Number</label>
                                    <input type="text" name="plateNumber" value="{{violator_data.5}}">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="text" name="date" value="{{violator_data.3}}">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Time</label>
                                    <input type="text" name="time" value="{{violator_data.2}}">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Barangay</label>
                                    <input type="text" name="barangay" value="{{violator_data.4}}">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Vechicle</label>
                                    <input type="text" name="vehicle" value="{{violator_data.6}}">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button class="btn btn-submit me-2" name="submit">Update</button>
                                <a href="{{url_for('violator_list')}}" class="btn btn-cancel">Cancel</a>
                            </div>
                        </div>
                    </div>
                   
                </div>
                </form>
            </div>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/feather.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/select2/js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/sweetalert/sweetalert2.all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/sweetalert/sweetalerts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>