{% include 'include_assets/styles.html' %}

</head>
{% if session.loggedin %}
<body>
    <div id="global-loader">
        <div class="whirly-loader">AutoDlex<i class="fa fa-camera" aria-hidden="true"></i></div>
    </div>
    

    <div class="main-wrapper">

         {% include 'include_assets/profile.html'%}


         <div class="sidebar" id="sidebar" style="background-color:  white;">
            <div class="sidebar-inner slimscroll" >
                <div id="sidebar-menu" class="sidebar-menu">
                    <div class="dashboard-logo">
                        <a href="{{url_for('index')}}">
                            <img src="static/images/autodlex.png" alt="" style="width: 200px; height: auto; margin-bottom: 80px;">
                        </a>
                    </div>
                    <ul >
                        <li >
                            <a href="{{ url_for('index') }}"><span class="fa fa-home"></span><span>
                                    Dashboard</span> </a>
                        </li>
                             <li class="active">
                            <a href="{{ url_for('violators.violator_list') }}">
                                <span class="fa fa-user-alt"></span>
                                <span> Violator list</span>
                            </a>
                        </li>
                        <li >
                        <a href="{{ url_for('enforcer.enforcer_data') }}">
                            <span class="fa fa-user-alt"></span>
                                <span> Enforcers</span>
                            </a>
                        </li>
                        <li >
                        <a href="{{ url_for('settled_reports') }}">
                            <span class="fas fa-exclamation-circle"></span>
                                <span  > Settled Reports</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="page-wrapper">
            <div class="content">
                <div class="page-header">
                    <div class="page-title">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="{{ url_for('violators.violator_list') }}">Violator List</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Violator Details</li>
                            </ol>
                          </nav>
                                
                    </div>
                        </div>
                        <div class="row">
                        <div class="col-lg-4 col-sm-12">
                            <div class="card" style="box-shadow:2px 5px 7px rgba(0, 0, 0, 0.3);" >
                                <div class="card-body">
                                    <div class="">
                                        <div class="owl-theme">
                                            <div class="product">
                                                <h2 style="text-align:center; margin-top: 9px;margin-bottom: 24px;">Captured Image</h2>
                                                <img src="static/images/sample.png" alt="img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
               
                    <div class="col-lg-8 col-sm-12">
                        <div class="card"style="box-shadow:2px 5px 7px rgba(0, 0, 0, 0.3);" >
                            <div class="card-body">
                                <div class="productdetails">
                                    <ul class="product-bar">
                                      
                                        <li>
                                            <h4>Plate Number</h4>
                                            <h6 style="color:Red">{{violator_data.8}}</h6>
                                        </li>
                                        <li>
                                            <h4>Time</h4>
                                            <h6 style="color:Red">{{violator_data.5}}</h6>
                                        </li>
                                        <li>
                                            <h4>Date</h4>
                                            <h6 style="color:Red">{{violator_data.6}}</h6>
                                        </li>
                                        <li>
                                            <h4>Vechicle</h4>
                                            <h6 style="color:Red">{{violator_data.9}}</h6>
                                        </li>
                                        <li>
                                            <h4>Violation</h4>
                                            <h6 style="color:Red">{{violator_data.4}}</h6>
                                        </li>
                                        <li>
                                            <h4>Barangay</h4>
                                            <h6 style="color:Red">{{violator_data.7}}</h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

             </div>
                    <div class="col-lg-432 col-sm-12" style="box-shadow:2px 5px 7px rgba(0, 0, 0, 0.3);" >
                        <div class="card text-center">
                            <div class="card-body  ">
                                <div class="productdetails">
                                <h5 class="mb-3"> Extracted Data from the license</h5>
                                    <ul class="product-bar">
                                        <li>
                                            <h4>Name</h4>
                                            
                                        </li>
                                        <li>
                                            <h4>License Number</h4>
                                           
                                        </li>
                                        <li>
                                            <h4>License Code</h4>
                                            
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
    {% else %}
    <script>
    window.onload = function() {
        window.location.href = "{{ url_for('admin_signin') }}";
    }
</script>
    {% endif %}
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/feather.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/select2/js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

   
</body>

</html>