{% include 'include_assets/styles.html' %}

</head>

<body>
    <div id="global-loader">
        <div class="whirly-loader"> </div>
    </div>

    <div class="main-wrapper">

         {% include 'include_assets/profile.html'%}


         <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li >
                            <a href="{{ url_for('index') }}"><img src="static/img/icons/dashboard.svg" alt="img"><span>
                                    Dashboard</span> </a>
                        </li>
                             <li  class="active">
                            <a href="{{ url_for('violator_list') }}">
                                <img src="{{ url_for('static', filename='img/icons/users1.svg') }}" alt="img">
                                <span>Violator list</span>
                            </a>
                        </li>
                        <li >
                        <a  href="{{ url_for('enforcer_data') }}">
                                <img src="static/img/icons/users1.svg" alt="img">
                                <span> Enforcers</span>
                            </a>
                        </li>
                        <li  >
                        <a href="{{ url_for('settled_reports') }}">
                                <img src="static/img/icons/time.svg" alt="img">
                                <span> Settled Reports</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="page-wrapper">
            <div class="content">
                <div class="page-header">
                    <div class="page-title">
                        <h4>Violator Details</h4>
             </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="productdetails">
                                    <ul class="product-bar">
                                      
                                        <li>
                                            <h4>Plate Number</h4>
                                            <h6>{{violator_data.5}}</h6>
                                        </li>
                                        <li>
                                            <h4>Time</h4>
                                            <h6>{{violator_data.2}}</h6>
                                        </li>
                                        <li>
                                            <h4>Date</h4>
                                            <h6>{{violator_data.3}}</h6>
                                        </li>
                                        <li>
                                            <h4>Vechicle</h4>
                                            <h6>{{violator_data.5}}</h6>
                                        </li>
                                        <li>
                                            <h4>Violation</h4>
                                            <h6>{{violator_data.1}}</h6>
                                        </li>
                                        <li>
                                            <h4>Barangay</h4>
                                            <h6>{{violator_data.4}}</h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="">
                                    <div class="owl-theme">
                                        <div class="product">
                                            <img src="static/images/sample.png" alt="img">
                                            <h2 style="text-align:center; margin-top: 9px">Captured Image</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-432 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="productdetails">
                                <h5> Ectracted Data from the license</h5>
                                    <ul class="product-bar">
                                        <li>
                                            <h4>Name</h4>
                                            <h6>{{violator_data.5}}</h6>
                                        </li>
                                        <li>
                                            <h4>License Number</h4>
                                            <h6>{{violator_data.2}}</h6>
                                        </li>
                                        <li>
                                            <h4>License Code</h4>
                                            <h6>{{violator_data.3}}</h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/feather.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/select2/js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

   
</body>

</html>