
  {% include 'include_assets/styles.html' %}

</head>
{% if session.loggedin %}
<body>
    <div id="global-loader">
        <div class="whirly-loader">AutoDlex<i class="fa fa-camera" aria-hidden="true"></i></div>
    </div>
    <!--test commit    -->
   
    </head>
        {% include 'include_assets/profile.html'%}
        <!--  Changes wre applied-->
        <div class="sidebar" id="sidebar" style="background-color:  white;">
            <div class="sidebar-inner slimscroll" >
                <div id="sidebar-menu" class="sidebar-menu">
                    <div class="dashboard-logo">
                        <a href="{{url_for('index')}}">
                            <img src="static/images/autodlex.png" alt="" style="width: 200px; height: auto; margin-bottom: 80px;">
                        </a>
                    </div>
                    <ul >
                        <li class="active" >
                            <a href="{{ url_for('index') }}"><span class="fa fa-home"></span><span>
                                    Dashboard</span> </a>
                        </li>
                             <li >
                            <a href="{{ url_for('violators.violator_list') }}">
                                <span class="fa fa-user-alt"></span>
                                <span> Violators List</span>
                            </a>
                        </li>
                        <li >
                        <a href="{{ url_for('enforcer.enforcer_data') }}">
                            <span class="fa fa-user-alt"></span>
                                <span> Enforcers</span>
                            </a>
                        </li>
                        <li >
                        <a href="{{ url_for('settled_reports') }}">
                            <span class="fas fa-exclamation-circle"></span>
                                <span  > Settled Reports</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-12">
                        <a href="{{ url_for('enforcer.enforcer_data') }}" style="text-decoration: none; color: inherit;">
                            <div class="dash-widget" style="box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.3);">
                                <div class="dash-imgs">
                                    <i data-feather="user"></i>
                                </div>
                                <div class="dash-widgetcontent">
                                    <h5><span class="counters" data-count="{{enforcers_count}}">24</span></h5>
                                    <h6>Enforcers</h6>
                                </div>
                            </div>
                        </a>
                        
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <a href="{{ url_for('archive_reports') }}" style="text-decoration: none; color: inherit;">
                        <div class="dash-widget" style="box-shadow:2px 5px 7px rgba(0, 0, 0, 0.3);">
                            <div class="dash-imgs">
                                <i data-feather="user"></i>
                            </div>
                        <div class="dash-widgetcontent">
                            <h5><span class="counters" data-count="{{violators_count}}"></span></h5>
                        <h6>Archive Reports</h6>
                            </div>
                        </div>
                    </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <a href="{{ url_for('settled_reports') }}" style="text-decoration: none; color: inherit;">
                        <div class="dash-widget" style="box-shadow:2px 5px 7px rgba(0, 0, 0, 0.3);">
                            <div class="dash-imgs">
                                <i data-feather="file-text"></i>
                                </div>
                        <div class="dash-widgetcontent">
                            <h5><span class="counters" data-count="{{settled_reports_count}}"></span></h5>
                        <h6>Settled Reports</h6>
                            </div>
                        </div>
                    </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12" >
                        <a href="{{ url_for('violators.violator_list') }}" style="text-decoration: none; color: inherit;">
                        <div class="dash-widget" style="box-shadow:2px 5px 7px rgba(0, 0, 0, 0.3);">
                            <div class="dash-imgs">
                                <i data-feather="file-text"></i>
                                </div>
                        <div class="dash-widgetcontent">
                            <h5><span class="counters" data-count="{{unsettled_reports_count}}"></span></h5>
                        <h6>Unsettled Reports</h6>
                            </div>
                        </div>
                    </a>
                    </div>
                   
                </div>

               

                {% include 'include_assets/boostrap-table.html'%}
                <div class="card mb-0">
                    <div class="card-body" style="box-shadow:2px 5px 7px rgba(0, 0, 0, 0.3);">
                        <h4 class="card-title">Activity logs</h4>
                        <div class="container-fluid mb-4" >
                            <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center">Date</th>
                                <th class="text-center">Time</th>
                                <th class="text-center">Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in logs %}
                            <tr>
                              
                                <td class="text-center">{{log.4}}</td>
                                <td class="text-center">{{log.5}}</td>
                                <td class="text-center">{{log.6}}</td>
                              
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table> 
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}

        <script>
            
        

        window.onload = function() {
            window.location.href = "{{ url_for('admin_signin') }}";
        }
    </script>
        {% endif %}

   {% include 'include_assets/script.html'%}
   <script>
   new DataTable('#example', {
    order: [[0, 'desc']]
});

</script>
<style>
    .ellipsis {
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px; /* Adjust the width as needed */
    }
</style>


 
</body>

</html>