<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Enforcer</title>

    <!-- Include stylesheets -->
    {% include 'include_assets/styles.html' %}

    <!-- Include SweetAlert library -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
    {% if session.loggedin %}
    <div id="global-loader">
        <div class="whirly-loader">AutoDlex<i class="fa fa-camera" aria-hidden="true"></i></div>
    </div>

    <div class="main-wrapper">
        {% include 'include_assets/profile.html'%}

        <div class="sidebar" id="sidebar" style="background-color: white;">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <div class="dashboard-logo">
                        <a href="{{url_for('index')}}">
                            <img src="static/images/autodlex.png" alt="" style="width: 200px; height: auto; margin-bottom: 80px;">
                        </a>
                    </div>
                    <ul>
                        <li>
                            <a href="{{ url_for('index') }}"><span class="fa fa-home"></span><span>
                                    Dashboard</span> </a>
                        </li>
                        <li>
                            <a href="{{ url_for('violators.violator_list') }}">
                                <span class="fa fa-user-alt"></span>
                                <span> Violator List</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="{{ url_for('enforcer.enforcer_data') }}">
                                <span class="fa fa-user-alt"></span>
                                <span> Enforcers</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('settled_reports') }}">
                                <span class="fas fa-exclamation-circle"></span>
                                <span> Settled Reports</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="page-wrapper">
            <div class="content">
                <nav aria-label="breadcrumb" class="mb-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url_for('enforcer.enforcer_data') }}">Enforcer Management</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Enforcer</li>
                    </ol>
                </nav>
                <div class="page-header">
                    <div class="page-title">
                        <h4>Enforcer Information</h4>
                    </div>
                </div>
                <form id="addEnforcerForm" action="{{ url_for('enforcer.add_enforcer') }}" enctype="multipart/form-data" method="post" onsubmit="return validateForm()" style="box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.3);">
                    <div class="card">
                        <div class="card-body">
                            {% if msg %}
                            <div class="alert alert-danger d-flex justify-content-center">
                                <strong>{{msg}}</strong>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-lg-3 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label><a style="color: red;">* </a>First Name</label>
                                        <input type="text" id="firstNameInput" name="first_name" class="form-control"  maxlength="49" pattern="^\S.*$" oninput="validateFirstName()">
                                        <div id="firstNameError" class="text-danger"></div>
                                    </div>
                                    <div class="form-group" style="margin-top: 10px;">
                                            <label><a style="color: red;">* </a>Assigned Location</label>
                                            <select name="assigned_location" class="form-control" id="assigned_location" >
                                                <option value="" disabled selected>Select</option>
                                                <option value="Aplaya">Aplaya</option>
                                                <option value="Balibago">Balibago</option>
                                                <option value="Caingin">Caingin</option>
                                                <option value="Dila">Dila</option>
                                                <option value="Dita">Dita</option>
                                                <option value="Don Jose">Don Jose</option>
                                                <option value="Ibaba">Ibaba</option>
                                                <option value="Labas">Labas</option>
                                                <option value="Macabling">Macabling</option>
                                                <option value="Malitlit">Malitlit</option>
                                                <option value="Malusak">Malusak</option>
                                                <option value="Market Area">Market Area</option>
                                                <option value="Kanluran">Kanluran</option>
                                                <option value="Pooc">Pooc</option>
                                                <option value="Pulong Santa Cruz">Pulong Santa Cruz</option>
                                                <option value="Santo Domingo">Santo Domingo</option>
                                                <option value="Sinalhan">Sinalhan</option>
                                                <option value="Tagapo">Tagapo</option>
                                            </select>
                                        <div id="assignedLocationError" class="text-danger"></div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                   
                                    <div class="form-group">
                                        <label><a style="color: red;">* </a>Last Name</label>
                                        <input type="text" id="lastNameInput" name="last_name" class="form-control"  maxlength="49" pattern="^\S.*$" oninput="validateLastName()">
                                        <div id="lastNameError" class="text-danger"></div>
                                    </div>

                                    <div class="form-group" style="margin-top: 10px;">
                                        <label><a style="color: red;">* </a>Password</label>
                                        <div class="input-group">
                                            <input id="password" name="password" type="password" class="pass-inputs form-control" placeholder=" maximum of 11 characters" minlength="7" maxlength="11" oninput="validatePassword()">
                                            <span class="input-group-text eye-icon" onclick="togglePasswordVisibility()">
                                                <i id="eyeIcon" class="fa fa-eye" aria-hidden="true"></i>
                                            </span>
                                        </div  >
                                        <div id="passwordError" class="text-danger"></div>
                                    </div>
                                    
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label><a style="color: red;">* </a>Phone Number</label>
                                        <input type="text" id="phoneNumber" name="phone_number" class="form-control"maxlength="13" oninput="validatePhoneNumber()">
                                        <div id="phoneNumberError" class="text-danger"></div>
                                    </div>                                    
                                    <div class="form-group" style="margin-top: 10px;">
                                        <label><a style="color: red;">* </a>Confirm Password</label>
                                        <div class="input-group">
                                            <input id="confirm_password" name="confirm_password" type="password" class="pass-inputs form-control" placeholder=" maximum of 11 characters" minlength="7" maxlength="11" oninput="validateConfirmPassword()">
                                            <span class="input-group-text eye-icon" onclick="toggleConfirmPasswordVisibility()">
                                                <i id="confirmEyeIcon" class="fa fa-eye" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                        <div id="confirmPasswordError" class="text-danger"></div>
                                    </div>
                                    
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label><a style="color: red;">* </a>Username</label>
                                        <input id="usernameInput" name="username" type="text" class="form-control" value="{{generated_username}}" placeholder="maximum of 10 characters" maxlength="10" oninput="validateUsername()" readonly>
                                        <div id="usernameError" class="text-danger"></div>
                                    </div>
                                   
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="profile_image"><a style="color: red;">* </a>Profile Picture</label>
                                        <input type="file" id="profile_image" name="profile_image" class="form-control"  onchange="validateProfileImage()">
                                        <div id="profileImageError" class="text-danger"></div>
                                    </div>
                                    <button type="submit" class="btn btn-submit me-2">Add</button>
                                    <a href="{{url_for('enforcer.enforcer_data')}}" type="button" class="btn btn-cancel">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Include jQuery and Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JavaScript -->
    <script>
        // Function to validate username
        function validateUsername() {
            const usernameInput = document.getElementById('usernameInput');
            const usernameError = document.getElementById('usernameError');

            const username = usernameInput.value.trim();

            if (!username) {
                usernameError.textContent = 'Username is required.';
            } else if (username.length > 10) {
                usernameError.textContent = 'Username must be maximum 10 characters long.';
            } else {
                usernameError.textContent = '';
            }
        }

        // Function to validate first name
        function validateFirstName() {
            const firstNameInput = document.getElementById('firstNameInput');
            const firstNameError = document.getElementById('firstNameError');

            const firstName = firstNameInput.value.trim();

            if (!firstName) {
                firstNameError.textContent = 'First name is required.';
            } else if (firstName.length > 49) {
                firstNameError.textContent = 'First name must be maximum 49 characters long.';
            } else {
                firstNameError.textContent = '';
            }
        }

        // Function to validate last name
        function validateLastName() {
            const lastNameInput = document.getElementById('lastNameInput');
            const lastNameError = document.getElementById('lastNameError');

            const lastName = lastNameInput.value.trim();

            if (!lastName) {
                lastNameError.textContent = 'Last name is required.';
            } else if (lastName.length > 49) {
                lastNameError.textContent = 'Last name must be maximum 49 characters long.';
            } else {
                lastNameError.textContent = '';
            }
        }

        // Function to validate email
      

            function validatePhoneNumber() {
                const phoneNumberInput = document.getElementById('phoneNumber');
                const phoneNumberError = document.getElementById('phoneNumberError');

                const phoneNumber = phoneNumberInput.value.trim();
                const phoneNumberPattern = /^\+63\d{10}$/;

                if (!phoneNumber) {
                    phoneNumberError.textContent = 'Phone number is required.';
                } else if (!phoneNumberPattern.test(phoneNumber)) {
                    phoneNumberError.textContent = 'Please enter a valid phone number (+63xxxxxxxxxx).';
                } else {
                    phoneNumberError.textContent = '';
                }
            }


        // Function to validate password
        function validatePassword() {
            const passwordInput = document.getElementById('password');
            const passwordError = document.getElementById('passwordError');

            const password = passwordInput.value.trim();

            if (!password) {
                passwordError.textContent = 'Password is required.';
            } else if (password.length < 7 || password.length > 11) {
                passwordError.textContent = 'Password must be between 7 and 11 characters long.';
            } else {
                passwordError.textContent = '';
            }
        }

        // Function to validate confirm password
        function validateConfirmPassword() {
            const confirmPasswordInput = document.getElementById('confirm_password');
            const confirmPasswordError = document.getElementById('confirmPasswordError');
            const passwordInput = document.getElementById('password');

            const confirmPassword = confirmPasswordInput.value.trim();
            const password = passwordInput.value.trim();

            if (!confirmPassword) {
                confirmPasswordError.textContent = 'Confirm password is required.';
            } else if (confirmPassword !== password) {
                confirmPasswordError.textContent = 'Passwords do not match.';
            } else {
                confirmPasswordError.textContent = '';
            }
        }

        function togglePasswordVisibility() {
        const passwordInput = document.getElementById('password');
        const eyeIcon = document.getElementById('eyeIcon');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.classList.remove('fa-eye');
            eyeIcon.classList.add('fa-eye-slash');
        } else {
            passwordInput.type = 'password';
            eyeIcon.classList.remove('fa-eye-slash');
            eyeIcon.classList.add('fa-eye');
        }
    }
    //confirm password visibility
        function toggleConfirmPasswordVisibility() {
            const confirmPasswordInput = document.getElementById('confirm_password');
            const confirmEyeIcon = document.getElementById('confirmEyeIcon');

            if (confirmPasswordInput.type === 'password') {
                confirmPasswordInput.type = 'text';
                confirmEyeIcon.classList.remove('fa-eye');
                confirmEyeIcon.classList.add('fa-eye-slash');
            } else {
                confirmPasswordInput.type = 'password';
                confirmEyeIcon.classList.remove('fa-eye-slash');
                confirmEyeIcon.classList.add('fa-eye');
            }
        }

        // Function to validate profile image
        function validateProfileImage() {
            const profileImageInput = document.getElementById('profile_image');
            const profileImageError = document.getElementById('profileImageError');

            const profileImage = profileImageInput.files[0];

            if (!profileImage) {
                profileImageError.textContent = 'Profile image is required.';
            } else if (!profileImage.type.startsWith('image/')) {
                profileImageError.textContent = 'Only image files are allowed.';
            } else {
                profileImageError.textContent = '';
            }
        }

        // Function to validate assigned location
        function validateBarangay() {
            const assignedLocationSelect = document.getElementById('assigned_location');
            const assignedLocationError = document.getElementById('assignedLocationError');

            const assignedLocation = assignedLocationSelect.value;

            if (!assignedLocation) {
                assignedLocationError.textContent = 'Assigned location is required.';
            } else {
                assignedLocationError.textContent = '';
            }
        }

        // Function to validate the form before submission
        function validateForm() {
            validateUsername();
            validateFirstName();
            validateLastName();
            validatePhoneNumber();
            validatePassword();
            validateConfirmPassword();
            validateProfileImage();
            validateBarangay();

            const usernameError = document.getElementById('usernameError').textContent;
            const firstNameError = document.getElementById('firstNameError').textContent;
            const lastNameError = document.getElementById('lastNameError').textContent;
            const phoneNumberError = document.getElementById('phoneNumberError').textContent;
            const passwordError = document.getElementById('passwordError').textContent;
            const confirmPasswordError = document.getElementById('confirmPasswordError').textContent;
            const profileImageError = document.getElementById('profileImageError').textContent;
            const assignedLocationError = document.getElementById('assignedLocationError').textContent;

            if (usernameError || firstNameError || lastNameError || phoneNumberError || passwordError || confirmPasswordError || profileImageError || assignedLocationError) {
                return false; // Prevent form submission
            }

            return true; // Allow form submission
        }

    </script>


    {% else %}
    <script>
        window.location.href = "{{ url_for('admin_signin') }}";
    </script>
    {% endif %}
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/feather.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ url_for('static', filename='plugins/select2/js/select2.min.js') }}"></script>

    <script src="{{ url_for('static', filename='plugins/sweetalert/sweetalert2.all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/sweetalert/sweetalerts.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 

    <script src="{{ url_for('static', filename='javascript/Error-handling.js') }}"></script>
    
    </script>
    
  
    
    
    
</body>

</html>
